@charset "UTF-8";

/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*==========Reset CSS==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

/*==========Root==========*/
:root {
    --font: 'Poppins', sans-serif;
    --border: 4px;
    --fs-1: 3.2rem;
    --fs-2: 2.2rem;
    --fs-3: 1.8rem;
    --fs-4: 1.4rem;
    --fs-5: 1.2rem;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --section-padding: 60px;
    --shadow: 0 4px 20px rgba(10, 10, 10, 0.103);
    --shadow-1: 0 1px 4px hwb(0 0% 100% / 0.2);
    --shadow-2: 0 1px 2px hwb(0 0% 100% / 0.2);
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --clip-1: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
    --clip-2: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
    --rich-black-29: hwb(207 5% 91%);
    --pink-20: hwb(22 78% 5% / 0.2);
    --independence-30: hwb(245 24% 66% / 0.3);
    --gray-gray: hwb(0 73% 27%);
    --champagne: hwb(22 78% 5%);
    --spanish: hwb(0 60% 40%);
    --silver: hwb(0 47% 53%);
    --saffron: hwb(32 18% 0%);
    --dark-orange: hwb(28 16% 0%);
    --light-orange: hwb(28 16% 0% / 0.363);
    --sand: hwb(23 73% 9%);
    --isabelline: hwb(40 94% 2%);
    --gainsboro: hwb(0 87% 13%);
    --tangerine: hwb(31 8% 8%);
    --cinnabar: hwb(3 15% 4%);
    --black-95: hwb(0 0% 100% / 0.95);
    --cultured: hwb(0 93% 7%);
    --white: hwb(0 100% 0%);
    --black: hwb(0 0% 100%);
    --onyx: hwb(0 27% 73%);

}

/*==========Base==========*/
html {
    scroll-behavior: smooth;
    font-size: 10px;
}
body {
    font-family: var(--font);
    background: var(--white);
    color: var(--silver);
    line-height: 1.6;
    overflow-x: hidden;
}
body.active {
    overflow: hidden;
}
a {
    color: inherit;
}
a, img, span, input, select, button, textarea, ion-icon {
    display: block;
}
img {
    height: auto;
}
input, select, button, textarea {
    background: none;
    font: inherit;
}
input, select, textarea {
    width: 100%;
}
button {
    cursor: pointer;
}
ion-icon {
    pointer-events: none;
}
address {
    font-style: normal;
}
:focus-visible {
    outline-offset: 4px;
}
::selection {
    background: var(--saffron);
    color: var(--white);
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--cultured);
}
::-webkit-scrollbar-thumb {
    background: var(--saffron);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--tangerine);
}
.container {
    padding-inline: 15px;
}
.h1, .h2, .h3, .h4 {
    color: var(--rich-black-29);
    line-height: 1.2;
    letter-spacing: -1px;
}
.h1, .h2 {
    font-size: var(--fs-1);
}
.h2, .h3, .h4 {
    font-weight: var(--fw-600);
}
.h3 {
    font-size: var(--fs-2);
}
.h4 {
    font-size: var(--fs-3);
}
.bot {
    background: var(--dark-orange);
    color: var(--white);
    font-size: var(--fs-4);
    font-weight: var(--fw-500);
    height: 45px;
    padding-inline: 35px;
    border-radius: .5rem;
    transition: var(--transition-1);
}
.bot-hover {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.bot:hover {
    transform: scale(1.1);
    background: var(--saffron);
}

/*==========Header==========*/
.header-btn, .btn {
    display: none;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: -1px;
    box-shadow: var(--shadow);
    z-index: 4;
}
.header.active {
    position: fixed;
    top: -86px;
    background: var(--light-orange);
    animation: slider .5s ease-out forwards;
}

/*==========Header Animation==========*/
@keyframes slider {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@media (max-width: 1024px) {
    .header {
        padding-block: 7px;
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.logo {
    display: flex;
    align-items: center;
    color: var(--black);
    font-size: 2.8rem;
    font-weight: var(--fw-700);
    letter-spacing: -2px;
}
.logo span img {
    width: 25%;
}
.header-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-btn {
    color: var(--black);
    font-size: 20px;
}
.search-btn i {
    width: 50px;
}
.nav-toggle-btn {
    display: grid;
    gap: 4px;
}
.line {
    width: 15px;
    height: 3px;
    background: var(--black);
    border-radius: 5px;
    transition: var(--transition-1);
}
.line.middle {
    width: 25px;
}
.line.bottom {
    margin-left: auto;
}
.nav-toggle-btn.active .line.top {
    transform: translate(1px, 3px) rotate(45deg);
}
.nav-toggle-btn.active .line.middle {
    transform: rotate(-45deg);
}
.nav-toggle-btn.active .line.bottom {
    transform: translate(-1px, -3px) rotate(45deg);
}
.navbar {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background: var(--white);
    padding-inline: 20px;
    box-shadow: var(--shadow-1);
    overflow: hidden;
    visibility: hidden;
    height: 0;
    transition: var(--transition-1);
}
.navbar.active {
    height: 236px;
    visibility: visible;
}
.navbar-list {
    margin-block: 10px;
}
.navbar-item:not(:last-child) {
    border-block-end: 1px solid hwb(0 0% 100% / 0.04);
}
.navbar-link {
    color: var(--rich-black-29);
    font-size: var(--fs-4);
    font-weight: var(--fw-500);
    padding: 10px 15px;
    transition: var(--transition-1);
}
.navbar-link:is(:hover, :focus) {
    color: var(--dark-orange);
}

/*==========Search==========*/
.search-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3.5%;
    left: 0;
    width: 100%;
    height: 20%;
    background: var(--light-orange);
    padding-inline: 15px;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-2);
    z-index: 3;
}
.search-container.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(50%);
}
.search-box {
    position: relative;
    width: 100%;
    max-width: 500px;
}
.search-input {
    color: var(--dark-orange);
    font-size: 2.2rem;
    padding: 20px 15px;
    padding-inline-end: 70px;
}
.search-input::placeholder {
    color: var(--spanish);
}
.search-close-btn {
    position: absolute;
    display: none;
    inset: 0;
    cursor: pointer;
    z-index: 1;
}
.search-submit {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    transform: translateY(-50%);
    right: 15px;
    color: var(--onyx);
    transition: var(--transition-1);
}
.search-submit:is(:hover, :focus) {
    color: var(--saffron);
}

/*==========Hero Hero==========*/
.hero {
    background-image: url(../images/hero-bg.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 145px 60px;
}
.hero-subtitle {
    color: var(--champagne);
    font-size: var(--fs-3);
    letter-spacing: -1px;
    margin-block-end: 25px;
    text-transform: uppercase;
}
.hero-title {
    color: var(--white);
    max-width: 12ch;
    margin-inline: auto;
}
.hero-text {
    color: var(--sand);
    margin-block: 15px 30px;
    max-width: 44ch;
    margin-inline: auto;
    font-size: 1.5rem;
}
.hero .bot {
    margin-inline: auto;
}
.hero-banner {
    display: none;
    width: 820px;
    height: 716px;
}
.hero-img {
    width: 700px;
    height: 637px;
}

/*==========Promo==========*/
.card-banner {
    width: 300px;
    height: 300px;
}